header {
	width: 100%;
	justify-content: center;
}
h1 {
	color: red;
	background: black;
	font-size: 26px;
	text-align: center;
	font-family: sans-serif;
	padding: 5px 0px;
}
#game {
	position: absolute;
	left: 25%;
	background: red;
	color: black;
	width: 50%;
	font-size: 20px;
	text-align: center;
	padding: 10px 0px;
	line-height: 1.5em;
	font-family: Tahoma, Geneva, sans-serif;
}